/.metadata/
TP2_Paradigmas_G1/.settings/org.eclipse.jdt.core.prefs
TP2_Paradigmas_G1/.classpath
TP2_Paradigmas_G1/.project
TP2_Paradigmas_G1/.settings/org.eclipse.core.resources.prefs
TP2_Paradigmas_G1/src/module-info.java
TP2_Paradigmas_G1/bin/module-info.class
